*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

/* limpiar propiedades/efectos por default */
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
img{
    width: 25%;
}
input{
    
}
/* Estilando los contenedores principales */
header{
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    height: 3rem;
    align-items: center;

}
.hero{
    /* background-color: aquamarine; */
    display: flex;
    height: 85vh;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
}   
.seccionDos{
    padding: 4.5rem 0;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
}
.ourVision{
    padding: 4.5rem 0;
    background-color: coral;
    display: flex;
}
.pasos{
    padding: 4.5rem 0;
    background-color:chocolate;
}
.chose{
    padding: 4.5rem 0;
    background-color: darkslategray;
    display: flex;
}
.contenidoHero{
    background-color: dodgerblue;
    flex-basis: 60%;
}
/* estilos para las etiquetas de los contenedores  */
header h2{
    font-size: 2rem;
    color: white;
}
header a{
    margin-left: 2rem;
}
.contenidoHero h1{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.contenidoHero p{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
.contenidoHero input{
    border: none;
    padding: 1rem 0rem;
    border-radius: 25rem;
    width: 22rem;
    margin-bottom: 1.5rem;
}
/* subcontenedores de los principales */

/* .seccionDos .contenedorCards{
    display: flex;
}
.seccionDos .alinearDeADos{
    display: flex;
} */

.pasos .contenedorPasos{
    display: flex;
}
/* Seccion para las clases*/
.alinearDeADos{
    display: flex;
}
.contenedordeCuatro{
    display: flex;
}

.contenedordenumeros{
    display: flex;
}